In [ ]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Use the set_option function to display rows and columns
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [5]:
import pandas as pd
df = pd.read_excel('eletronic_sales.xlsx')
df

         Date Branch Sales Agent Products  Units   Price
0  2014-09-01   Woji     Chinedu    Apple      2  125.00
1  2015-06-17   Woji       Emeka    Apple      5  125.00
2  2015-09-10   Woji     Ibrahim   Lenovo      7    1.29
3  2015-11-17   Woji        Tolu       HP     11    4.99
4  2015-10-31   Woji       Tonye   Lenovo     14    1.29
5  2014-02-26   Woji     Ibrahim   Compaq     27   19.99
6  2014-10-05   Woji      George       HP     28    8.99
7  2015-12-21   Woji       Tonye       HP     28    4.99
8  2014-02-09   Woji        Tolu   Lenovo     36    4.99
9  2015-08-07   Woji       Emeka     Dell     42   23.95
10 2015-01-15   Woji     Ibrahim       HP     46    8.99
11 2014-01-23   Woji       Emeka       HP     50   19.99
12 2015-03-24   Woji        Tolu     Dell     50    4.99
13 2015-05-14   Woji     Ibrahim   Lenovo     53    1.29
14 2015-07-21   Woji      George     Dell     55   12.49
15 2015-04-10   Woji       Tonye   Lenovo     66    1.99
16 2014-12-12   Woji     Chinedu   Lenovo     67    1.29
17 2014-04-18   Woji       Tonye   Lenovo     75    1.99
18 2015-05-31   Woji     Ibrahim       HP     80    8.99
19 2015-02-01   Woji     Chinedu       HP     87   15.00
20 2014-05-05   Woji        Tolu   Lenovo     90    4.99
21 2014-06-25   Woji      George   Lenovo     90    4.99
22 2015-12-04   Woji        Tolu       HP     94   19.99
23 2014-11-25   Woji       Emeka     Dell     96    4.99
24 2015-02-18    GRA    Blessing       HP      4    4.99
25 2014-11-08    GRA      Chioma   Compaq     15   19.99
26 2014-09-18    GRA    Blessing     Dell     16   15.99
27 2014-07-12    GRA     Torbari       HP     29    1.99
28 2014-08-15    GRA    Blessing   Lenovo     35    4.99
29 2014-04-01    GRA    Blessing       HP     60    4.99
30 2014-06-08    GRA    Blessing       HP     60    8.99
31 2015-07-04    GRA    Blessing     Dell     62    4.99
32 2014-10-22    GRA    Blessing   Compaq     64    8.99
33 2014-12-29    GRA      Chioma     Dell     74   15.99
34 2014-07-29    GRA      Chioma       HP     81   19.99
35 2014-01-06    GRA    Blessing   Lenovo     95    1.99
36 2015-04-27    GRA     Torbari   Compaq     96    4.99
37 2015-08-24   Town        Uche    Apple      3  275.00
38 2015-03-07   Town        Uche       HP      7   19.99
39 2014-05-22   Town       Tunde   Lenovo     32    1.99
40 2014-03-15   Town        Uche   Lenovo     56    2.99
41 2015-10-14   Town       Tunde       HP     57   19.99
42 2015-09-27   Town        Uche   Compaq     76    1.99

### Information and Statistics about the Data

In [ ]:
# Using the the info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         43 non-null     datetime64[ns]
 1   Branch       43 non-null     object
 2   Sales Agent  43 non-null     object
 3   Products     43 non-null     object
 4   Units        43 non-null     int64
 5   Price        43 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.1+ KB

In [ ]:
# Using the describe() function
df.describe()

                      Date      Units       Price
count                   43  43.000000   43.000000
mean   2014-12-29 00:00:00  49.325581   20.308605
min    2014-01-06 00:00:00   2.000000    1.290000
25%    2014-07-03 12:00:00  27.500000    3.990000
50%    2014-12-29 00:00:00  53.000000    4.990000
75%    2015-06-25 12:00:00  74.500000   17.990000
max    2015-12-21 00:00:00  96.000000  275.000000
std                    NaN  30.078248   47.345118

In [ ]:
# Checking whether there are empty columns
df.isnull().sum()

Date           0
Branch         0
Sales Agent    0
Products       0
Units          0
Price          0
dtype: int64

In [10]:
# Checking for duplicates
df.duplicated().sum()

np.int64(0)

## Data Wrangling

In [ ]:
# Creates a new column for Revenue by multiplying Units and Price
df['Revenue'] = df['Units'] * df['Price']
df

         Date Branch Sales Agent Products  Units   Price  Revenue
0  2014-09-01   Woji     Chinedu    Apple      2  125.00   250.00
1  2015-06-17   Woji       Emeka    Apple      5  125.00   625.00
2  2015-09-10   Woji     Ibrahim   Lenovo      7    1.29     9.03
3  2015-11-17   Woji        Tolu       HP     11    4.99    54.89
4  2015-10-31   Woji       Tonye   Lenovo     14    1.29    18.06
5  2014-02-26   Woji     Ibrahim   Compaq     27   19.99   539.73
6  2014-10-05   Woji      George       HP     28    8.99   251.72
7  2015-12-21   Woji       Tonye       HP     28    4.99   139.72
8  2014-02-09   Woji        Tolu   Lenovo     36    4.99   179.64
9  2015-08-07   Woji       Emeka     Dell     42   23.95  1005.90
10 2015-01-15   Woji     Ibrahim       HP     46    8.99   413.54
11 2014-01-23   Woji       Emeka       HP     50   19.99   999.50
12 2015-03-24   Woji        Tolu     Dell     50    4.99   249.50
13 2015-05-14   Woji     Ibrahim   Lenovo     53    1.29    68.37
14 2015-07-21   Woji      George     Dell     55   12.49   686.95
15 2015-04-10   Woji       Tonye   Lenovo     66    1.99   131.34
16 2014-12-12   Woji     Chinedu   Lenovo     67    1.29    86.43
17 2014-04-18   Woji       Tonye   Lenovo     75    1.99   149.25
18 2015-05-31   Woji     Ibrahim       HP     80    8.99   719.20
19 2015-02-01   Woji     Chinedu       HP     87   15.00  1305.00
20 2014-05-05   Woji        Tolu   Lenovo     90    4.99   449.10
21 2014-06-25   Woji      George   Lenovo     90    4.99   449.10
22 2015-12-04   Woji        Tolu       HP     94   19.99  1879.06
23 2014-11-25   Woji       Emeka     Dell     96    4.99   479.04
24 2015-02-18    GRA    Blessing       HP      4    4.99    19.96
25 2014-11-08    GRA      Chioma   Compaq     15   19.99   299.85
26 2014-09-18    GRA    Blessing     Dell     16   15.99   255.84
27 2014-07-12    GRA     Torbari       HP     29    1.99    57.71
28 2014-08-15    GRA    Blessing   Lenovo     35    4.99   174.65
29 2014-04-01    GRA    Blessing       HP     60    4.99   299.40
30 2014-06-08    GRA    Blessing       HP     60    8.99   539.40
31 2015-07-04    GRA    Blessing     Dell     62    4.99   309.38
32 2014-10-22    GRA    Blessing   Compaq     64    8.99   575.36
33 2014-12-29    GRA      Chioma     Dell     74   15.99  1183.26
34 2014-07-29    GRA      Chioma       HP     81   19.99  1619.19
35 2014-01-06    GRA    Blessing   Lenovo     95    1.99   189.05
36 2015-04-27    GRA     Torbari   Compaq     96    4.99   479.04
37 2015-08-24   Town        Uche    Apple      3  275.00   825.00
38 2015-03-07   Town        Uche       HP      7   19.99   139.93
39 2014-05-22   Town       Tunde   Lenovo     32    1.99    63.68
40 2014-03-15   Town        Uche   Lenovo     56    2.99   167.44
41 2015-10-14   Town       Tunde       HP     57   19.99  1139.43
42 2015-09-27   Town        Uche   Compaq     76    1.99   151.24

In [23]:
# Create Year from datetime
df['Year'] = df['Date'].dt.year
df

         Date Branch Sales Agent Products  Units   Price  Revenue  Year
0  2014-09-01   Woji     Chinedu    Apple      2  125.00   250.00  2014
1  2015-06-17   Woji       Emeka    Apple      5  125.00   625.00  2015
2  2015-09-10   Woji     Ibrahim   Lenovo      7    1.29     9.03  2015
3  2015-11-17   Woji        Tolu       HP     11    4.99    54.89  2015
4  2015-10-31   Woji       Tonye   Lenovo     14    1.29    18.06  2015
5  2014-02-26   Woji     Ibrahim   Compaq     27   19.99   539.73  2014
6  2014-10-05   Woji      George       HP     28    8.99   251.72  2014
7  2015-12-21   Woji       Tonye       HP     28    4.99   139.72  2015
8  2014-02-09   Woji        Tolu   Lenovo     36    4.99   179.64  2014
9  2015-08-07   Woji       Emeka     Dell     42   23.95  1005.90  2015
10 2015-01-15   Woji     Ibrahim       HP     46    8.99   413.54  2015
11 2014-01-23   Woji       Emeka       HP     50   19.99   999.50  2014
12 2015-03-24   Woji        Tolu     Dell     50    4.99   249.50  2015
13 2015-05-14   Woji     Ibrahim   Lenovo     53    1.29    68.37  2015
14 2015-07-21   Woji      George     Dell     55   12.49   686.95  2015
15 2015-04-10   Woji       Tonye   Lenovo     66    1.99   131.34  2015
16 2014-12-12   Woji     Chinedu   Lenovo     67    1.29    86.43  2014
17 2014-04-18   Woji       Tonye   Lenovo     75    1.99   149.25  2014
18 2015-05-31   Woji     Ibrahim       HP     80    8.99   719.20  2015
19 2015-02-01   Woji     Chinedu       HP     87   15.00  1305.00  2015
20 2014-05-05   Woji        Tolu   Lenovo     90    4.99   449.10  2014
21 2014-06-25   Woji      George   Lenovo     90    4.99   449.10  2014
22 2015-12-04   Woji        Tolu       HP     94   19.99  1879.06  2015
23 2014-11-25   Woji       Emeka     Dell     96    4.99   479.04  2014
24 2015-02-18    GRA    Blessing       HP      4    4.99    19.96  2015
25 2014-11-08    GRA      Chioma   Compaq     15   19.99   299.85  2014
26 2014-09-18    GRA    Blessing     Dell     16   15.99   255.84  2014
27 2014-07-12    GRA     Torbari       HP     29    1.99    57.71  2014
28 2014-08-15    GRA    Blessing   Lenovo     35    4.99   174.65  2014
29 2014-04-01    GRA    Blessing       HP     60    4.99   299.40  2014
30 2014-06-08    GRA    Blessing       HP     60    8.99   539.40  2014
31 2015-07-04    GRA    Blessing     Dell     62    4.99   309.38  2015
32 2014-10-22    GRA    Blessing   Compaq     64    8.99   575.36  2014
33 2014-12-29    GRA      Chioma     Dell     74   15.99  1183.26  2014
34 2014-07-29    GRA      Chioma       HP     81   19.99  1619.19  2014
35 2014-01-06    GRA    Blessing   Lenovo     95    1.99   189.05  2014
36 2015-04-27    GRA     Torbari   Compaq     96    4.99   479.04  2015
37 2015-08-24   Town        Uche    Apple      3  275.00   825.00  2015
38 2015-03-07   Town        Uche       HP      7   19.99   139.93  2015
39 2014-05-22   Town       Tunde   Lenovo     32    1.99    63.68  2014
40 2014-03-15   Town        Uche   Lenovo     56    2.99   167.44  2014
41 2015-10-14   Town       Tunde       HP     57   19.99  1139.43  2015
42 2015-09-27   Town        Uche   Compaq     76    1.99   151.24  2015

In [25]:
# Create month from data
df['Month'] = df['Date'].dt.month_name()
df

,Date,Branch,Sales Agent,Products,Units,Price,Revenue,Year,Month
0,2014-09-01,Woji,Chinedu,Apple,2,125.00,250.00,2014,September
1,2015-06-17,Woji,Emeka,Apple,5,125.00,625.00,2015,June
2,2015-09-10,Woji,Ibrahim,Lenovo,7,1.29,9.03,2015,September
3,2015-11-17,Woji,Tolu,HP,11,4.99,54.89,2015,November
4,2015-10-31,Woji,Tonye,Lenovo,14,1.29,18.06,2015,October
5,2014-02-26,Woji,Ibrahim,Compaq,27,19.99,539.73,2014,February
6,2014-10-05,Woji,George,HP,28,8.99,251.72,2014,October
7,2015-12-21,Woji,Tonye,HP,28,4.99,139.72,2015,December
8,2014-02-09,Woji,Tolu,Lenovo,36,4.99,179.64,2014,February
9,2015-08-07,Woji,Emeka,Dell,42,23.95,1005.90,2015,August
10,2015-01-15,Woji,Ibrahim,HP,46,8.99,413.54,2015,January
11,2014-01-23,Woji,Emeka,HP,50,19.99,999.50,2014,January
12,2015-03-24,Woji,Tolu,Dell,50,4.99,249.50,2015,March
13,2015-05-14,Woji,Ibrahim,Lenovo,53,1.29,68.37,2015,May
14,2015-07-21,Woji,George,Dell,55,12.49,686.95,2015,July
15,2015-04-10,Woji,Tonye,Lenovo,66,1.99,131.34,2015,April
16,2014-12-12,Woji,Chinedu,Lenovo,67,1.29,86.43,2014,December
17,2014-04-18,Woji,Tonye,Lenovo,75,1.99,149.25,2014,April
18,2015-05-31,Woji,Ibrahim,HP,80,8.99,719.20,2015,May
19,2015-02-01,Woji,Chinedu,HP,87,15.00,1305.00,2015,February
20,2014-05-05,Woji,Tolu,Lenovo,90,4.99,449.10,2014,May
21,2014-06-25,Woji,George,Lenovo,90,4.99,449.10,2014,June
22,2015-12-04,Woji,Tolu,HP,94,19.99,1879.06,2015,December
23,2014-11-25,Woji,Emeka,Dell,96,4.99,479.04,2014,November
24,2015-02-18,GRA,Blessing,HP,4,4.99,19.96,2015,February
25,2014-11-08,GRA,Chioma,Compaq,15,19.99,299.85,2014,November
26,2014-09-18,GRA,Blessing,Dell,16,15.99,255.84,2014,September
27,2014-07-12,GRA,Torbari,HP,29,1.99,57.71,2014,July
28,2014-08-15,GRA,Blessing,Lenovo,35,4.99,174.65,2014,August
29,2014-04-01,GRA,Blessing,HP,60,4.99,299.40,2014,April
30,2014-06-08,GRA,Blessing,HP,60,8.99,539.40,2014,June
31,2015-07-04,GRA,Blessing,Dell,62,4.99,309.38,2015,July
32,2014-10-22,GRA,Blessing,Compaq,64,8.99,575.36,2014,October
33,2014-12-29,GRA,Chioma,Dell,74,15.99,1183.26,2014,December
34,2014-07-29,GRA,Chioma,HP,81,19.99,1619.19,2014,July
35,2014-01-06,GRA,Blessing,Lenovo,95,1.99,189.05,2014,January
36,2015-04-27,GRA,Torbari,Compaq,96,4.99,479.04,2015,April
37,2015-08-24,Town,Uche,Apple,3,275.00,825.00,2015,August
38,2015-03-07,Town,Uche,HP,7,19.99,139.93,2015,March
39,2014-05-22,Town,Tunde,Lenovo,32,1.99,63.68,2014,May
40,2014-03-15,Town,Uche,Lenovo,56,2.99,167.44,2014,March
41,2015-10-14,Town,Tunde,HP,57,19.99,1139.43,2015,October
42,2015-09-27,Town,Uche,Compaq,76,1.99,151.24,2015,September

## Total Units sold

In [ ]:
# check for the total units sold
df['Units'].sum()

np.int64(2121)

## Number of Products in the data

In [ ]:
# Using the nunique() function. This checks the number of unique products
df['Products'].nunique()

5

## No. of Sales Agents

In [ ]:
# Using the nunique() function. This checks the number of unique Sales Agent
df['Sales Agent'].nunique()

11

## Total Revenue Generated

In [ ]:
# This rounds the sum of Revenue to 2 decimal places
round(df['Revenue'].sum(), 2)

np.float64(19627.88)

## Total Revenue Generated Each Year

In [26]:
df_year = df.groupby('Year')['Revenue'].sum()
df_year

Year
2014     9258.34
2015    10369.54
Name: Revenue, dtype: float64

## Tottal Revenue Generated by Sales Agent

In [27]:
df.groupby('Sales Agent')['Revenue'].sum().sort_values(ascending=True)

Sales Agent
Tonye        438.37
Torbari      536.75
Tunde       1203.11
Uche        1283.61
George      1387.77
Chinedu     1641.43
Ibrahim     1749.87
Blessing    2363.04
Tolu        2812.19
Chioma      3102.30
Emeka       3109.44
Name: Revenue, dtype: float64

## Total Revenue Generated by Products

In [28]:
df.groupby('Products')['Revenue'].sum().sort_values(ascending=True)

Products
Apple     1700.00
Compaq    2045.22
Lenovo    2135.14
Dell      4169.87
HP        9577.65
Name: Revenue, dtype: float64

## Total Units by Product

In [29]:
df.groupby('Products')['Units'].sum().sort_values(ascending=True)

Products
Apple      10
Compaq    278
Dell      395
Lenovo    716
HP        722
Name: Units, dtype: int64